<div class="creditcard__container">
  <div id="creditcard__background"></div>
<div id="creditcard__container">
  <div class="top">
    <img class="top_left-icon" src="images/card-touch.png" alt="Que onda" />
    <div class="top_right-container">
      <img class="top_right-icon" src="images/chip-sim.png" alt="Que onda" />
    </div>
  </div>
  <div class="bottom">
    <img class="bottom_left-icon" src="images/mastercard.png" alt="Que onda" />
  </div>
</div>

</div>