
<!-- Content -->
<section id="index__container">
    <div class="main-content">
        <h1 class="title-header">A modern product for modern users</h1>
        <p class="subtitle-header">
            Sign up today for a new product and enjoy all the features available for you
        </p>
        <br />
        <%- include('./partials/credit-card.ejs') %>
        <div class="main__button-container">
            <a href="/getting-started" class="main__button-btn">Get started</a>
            <a href="/about" class="main__button-link">More about powercredit</a>
        </div>

        <div class="bottom-presentation"></div>
    </div>
</section>

<%- include('./partials/square-rain.ejs') %>