
#login__container .main-content {
    text-align: center;
    margin: auto;
    width: 600px;
}

.main-content form {
    display: grid;
    gap: 0.7rem;
    height: 200px;
    padding-top: 4rem;
}

#login__container input {
    border-radius: 15px;
    padding-left: 30px;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#login__container .login__button-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.login__button-panel .panel-btn {
    background: var(--green-gradient);
    padding: 20px 50px !important;
    color: var(--white);
    font-size: 1.1rem;
}

.login__button-panel .panel-link {
    font-size: 1.1rem;
}